.home {
  min-height: 100vh;
  height: 100%;
  max-width: 1076px;
  margin: 0 auto;
  padding: 90px 40px 60px;
  background-color: $white;

  @include mq(599) {
    padding: 60px 20px 30px;
  }

  p {
    text-indent: 24px;
    margin-bottom: 5px;

    &.annotate {
      font-style: italic;
      margin: 20px auto;
    }

    &.stars {
      text-align: center;
      margin: 15px 0 10px;
    }
  }

  h2 {
    text-align: center;
    margin: 20px 0 10px;
  }

  .author {
    font-family: 'Arial Narrow', serif;
    text-align: center;
    margin-bottom: 30px;
  }

  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 1.5;
    font-family: 'Arial Narrow', serif;
    margin-bottom: 30px;
  }

  .img {
    float: left;
    width: 374px;
    margin: 10px 15px 5px 0;
    text-align: center;

    @include mq(489) {
      width: 100%;
    }

    &--right {
      float: right;
      margin: 10px 0 5px 15px;
    }

    &--wide {
      width: 100%;
      margin: 10px 0;
    }

    & figcaption{
      font-size: 16px;
      font-style: italic;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }
}
